{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      },
      {
        "presets": [
          [
            "env",
            {
              "targets": {
                "node": "current"
              }
            }
          ]
        ]
      }
    ]
  ]
}
